form{
    background: #021725;
  }
  input, textarea, select, option{
    background: none !important;
    border-top: #FFCC33 1px solid !important;
    border-left: #FFCC33 1px solid !important;
    border-bottom: #FFCC33 3px solid !important;
    border-right: #FFCC33 3px solid !important;
    border-radius: 2px !important;
    color: #FFCC33 !important;
  }